@charset "utf-8";


body {
    background-color: grey;
}

.bg-black {
    background-color: black;
}

img {
    width: 100%;
    height: 100%
}

.font-div {
    width: 30%;
}

/* =============================
	Mobile Styles: 0 - 480 pixels
   =============================
*/
@media only screen and (max-width: 480px) {
    .font-div {
        padding: 68px 0px !important;
    }
}

/* ///////Media Query */
@media only screen and (min-width: 481px) {
    .font-div {
        padding: 68px 0px !important;
    }
}